@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    /* Ensures the body takes the full viewport height so flex children can fill space */
    height:100vh;
    display:flex;
    font-family: 'Roboto';
    flex-direction: column;
    margin:0;
    
}
.nav{
    max-width:100%;
    background-color:#1F2937;
}
.nav-items{
    margin:0 auto;
    display:flex;
    align-items:center;
    max-width:68%;
    justify-content:space-between;
   
    color:white;
}
ul{
    display:flex;
    list-style: none;
    gap:17px;
}
a{
    text-decoration: none;
    color:white;
}
.hero-section{
    max-width:100%;
    background-color:#1F2937;
}
.hero-items{
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    max-width:68%;
   
    color:white;
}