@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    /* Ensures the body takes the full viewport height so flex children can fill space */
    height:100vh;
    display:flex;
    font-family: 'Roboto';
    flex-direction: column;
    margin:0;

}
.